<% if !like %>
  <% post.likes.build %>

  <%= form_with(model: post, class: "d-flex align-items-center me-3") do |form| %>
    <%= form.fields_for :likes, post.likes.last do |like_form| %>
      <%= like_form.hidden_field :user_id, value: current_user.id %>
    <% end %>
    
    <div class="m-r-15 text-inverse-lighter">
      <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
      <%= form.submit "Like", class: "btn btn-link p-0 m-0 d-inline align-baseline d-inline-block" %>
    </div>
  <% end %>

<% else %>
  <%= link_to "Unlike", post_like_path(post, like), data: { "turbo-method": :delete }, class: "mb-0" %>
<% end %>
