<h4 class="text-center mt-4 mb-2 pt-2 pb-2"><%= @user.full_name %>'s Profile</h4>
<section>
  <h3><%= @user.first_name %>'s Friends</h2>

  <div>
    <ul>
      <% @user.friends.take(5).each do |friend| %>
        <li><%= link_to "#{friend.full_name}", friend %></li>
      <% end %>
    </ul>

    <%= link_to "All Friends", user_friends_path(@user) %>
  </div>
</section>

<% if current_user == @user %>
  <%= render "posts/status_update", post: @post %>
<% elsif @user.friends.include?(current_user) %>
  <%= render "profile_post", user: @user %>
<% end %>

<section>
  <div class="container my-2 py-5">
    <div class="row d-flex justify-content-center gap-5">
      <% @posts.each do |post| %>
        <div class="col-md-12 col-lg-10 col-xl-8" id="post-display">
          <%= render "posts/container", post: post %>
        </div>
      <% end %>
    </div>
  </div>
</section>

