<div id="post-form">
  <%= form_with model: @post, local: false do |f| %>
    <div class="field has-addons">
      <div class="control">
        <%= f.text_field :body, id: "post-input", class: "input", 
            placeholder: "What's on your mind, #{current_user.first_name}?" %>
      </div>
      <div class="control">
        <%= f.submit "Post", class: "button -is-primary" %>
      </div>
    </div>
  <% end %>
</div>

<%# Displays recent posts from friends %>
<div>
  <div id="post-display">
    <% @posts.each do |p| %>
      <article class="post">
        <div class="post-header">
          <%= p.author.email %>
        </div>
        <div class="post-body">
          <%= p.body %>
        </div>
      </article>
    <% end %>
  </div>
</div>
