<div class="card-body">
  <div class="d-flex flex-start align-items-center">
    <img class="rounded-circle shadow-1-strong me-3"
      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
      height="60" />
    <div>
      <h6 class="fw-bold text-primary mb-1"><%= link_to "#{post.author.full_name}", post.author, class: "text-decoration-none" %></h6>
      <% if !post.user_id || (post.user_id == post.author_id) %>
        <p class="text-muted small mb-0">
          Shared publicly - <%= time_ago_in_words(post.created_at) %> ago
        </p>
      <% else %>
        <p class="text-muted small mb-0">
          Shared with <%= post.user.first_name %> - <%= time_ago_in_words(post.created_at) %> ago
        </p>
      <% end %>
      <span class="small">
        <% if post.author == current_user %>
          <%= link_to "Delete", post_path(post), data: { "turbo-method": :delete }, class: "mb-0" %>
        <% end %>
      </span>
    </div>
  </div>

  <p class="mt-3 mb-3 pb-1">
    <%= post.body %>
    <div class="small d-flex justify-content-start">
      <%= render "posts/likes", { num_of_likes: post.likes_count, post: post } %>

      <% if post.likes_count > 0 %>
        <%= render "likes/list_of_friends_likes", post: post %>
      <% end %>
      
    </div>
  </p>

  <div class="small d-flex justify-content-start">
    <%= render "likes/post_like_form", post: post, like: post.likes.find_by(user_id: current_user.id) %>
    <a href="#!" class="d-flex align-items-center me-3">
      <i class="far fa-comment-dots me-2"></i>
      <p class="mb-0">Comment</p>
    </a>
  </div>
</div>