<% post.comments.each do |comment| %>
  <div class="d-flex flex-start mt-4">
    <a class="me-3" href="#">
      <img class="rounded-circle shadow-1-strong"
        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
        width="65" height="65" />
    </a>
    <div class="flex-grow-1 flex-shrink-1">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-1">
            <%= comment.commenter.full_name %> <span class="small"><%= time_ago_in_words(post.created_at) %> ago</span>
          </p>
          <span class="small">
            <% if comment.commenter == current_user %>
              <%= link_to "Delete", post_comment_path(post, comment), data: { "turbo-method": :delete }, class: "mb-0" %>
            <% end %>
          </span>
        </div>

        <p class="mt-3 mb-3 pb-1">
          <%= comment.body %>
          <div class="small d-flex justify-content-start">
            <%= render "posts/likes", num_of_likes: comment.likes_count %>
            <% if comment.likes_count > 0 %>
              <%= render "likes/list_of_friends_likes", post: comment %>
            <% end %>
          </div>
        </p>

        <div class="small d-flex justify-content-start">
          <%= render "likes/comment_like_form", post: post, comment: comment, like: comment.likes.find_by(user_id: current_user.id) %>
          <a href="#!" class="d-flex align-items-center me-3">
            <i class="far fa-comment-dots me-2"></i>
            <p class="mb-0">Comment</p>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>